﻿/* theme-red ===================================*/
.theme-red .navbar,
.theme-red .blog-page .single-blog-post .img-holder .date-box,
.theme-red .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-red .menu > ul > li > ul.normal-sub > li a:hover,
.theme-red .menu > ul > li > ul > li > ul > li a:hover {
  background-color: #f34167;
}

.theme-red .navbar-brand {
  color: #fff;
}

.theme-red .navbar-brand:hover {
  color: #fff;
}

.theme-red .navbar-brand:active {
  color: #fff;
}

.theme-red .navbar-brand:focus {
  color: #fff;
}

.theme-red .nav > li > a {
  color: #fff;
}

.theme-red .nav > li > a:hover {
  background-color: transparent;
}

.theme-red .nav > li > a:focus {
  background-color: transparent;
}

.theme-red .nav .open > a {
  background-color: transparent;
}

.theme-red .nav .open > a:hover {
  background-color: transparent;
}

.theme-red .nav .open > a:focus {
  background-color: transparent;
}

.theme-red .bars {
  color: #fff;
}

.theme-red .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-red .sidebar .menu .list li.active >:first-child i, .theme-red .sidebar .menu .list li.active >:first-child span {
  color: #f34167;
}

.theme-red .sidebar .menu .list .toggled {
  background-color: #f6f6f6;
  border-left: 3px solid #f34167;
}

.theme-red .sidebar .menu .list .ml-menu {
  background-color: #f6f6f6;
  border-left: 3px solid #f34167;
}

.theme-red .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #f34167;
  transition: all 150ms linear;
}

.theme-red .card .header::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #f34167;
  transition: width .5s;
  position: relative;
  top: 11px;
}

.theme-red .card:hover .header::after {
  width: 100%;
  transition: width .5s;
}


/* theme-purple ===================================*/
.theme-purple .navbar,
.theme-purple .blog-page .single-blog-post .img-holder .date-box,
.theme-purple .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-purple .menu > ul > li > ul.normal-sub > li a:hover,
.theme-purple .menu > ul > li > ul > li > ul > li a:hover {
  background-color: #9C27B0;
}

.theme-purple .navbar-brand {
  color: #fff;
}

.theme-purple .navbar-brand:hover {
  color: #fff;
}

.theme-purple .navbar-brand:active {
  color: #fff;
}

.theme-purple .navbar-brand:focus {
  color: #fff;
}

.theme-purple .nav > li > a {
  color: #fff;
}

.theme-purple .nav > li > a:hover {
  background-color: transparent;
}

.theme-purple .nav > li > a:focus {
  background-color: transparent;
}

.theme-purple .nav .open > a {
  background-color: transparent;
}

.theme-purple .nav .open > a:hover {
  background-color: transparent;
}

.theme-purple .nav .open > a:focus {
  background-color: transparent;
}

.theme-purple .bars {
  color: #fff;
}

.theme-purple .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-purple .sidebar .menu .list li.active >:first-child i, .theme-purple .sidebar .menu .list li.active >:first-child span {
  color: #9C27B0;
}

.theme-purple .sidebar .menu .list .toggled {
  background-color: #f6f6f6;
  border-left: 3px solid #9C27B0;
}

.theme-purple .sidebar .menu .list .ml-menu {
  background-color: #f6f6f6;
  border-left: 3px solid #9C27B0;
}

.theme-purple .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #9C27B0;
  transition: all 150ms linear;
}

.theme-purple .card .header::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #9C27B0;
  transition: width .5s;
  position: relative;
  top: 11px;
}

.theme-purple .card:hover .header::after {
  width: 100%;
  transition: width .5s;
}

/* theme-deep-purple ===================================*/
.theme-deep-purple .navbar,
.theme-deep-purple .blog-page .single-blog-post .img-holder .date-box,
.theme-deep-purple .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-deep-purple .menu > ul > li > ul.normal-sub > li a:hover,
.theme-deep-purple .menu > ul > li > ul > li > ul > li a:hover {
  background-color: #8b58ff;
}

.theme-deep-purple .navbar-brand {
  color: #fff;
}

.theme-deep-purple .navbar-brand:hover {
  color: #fff;
}

.theme-deep-purple .navbar-brand:active {
  color: #fff;
}

.theme-deep-purple .navbar-brand:focus {
  color: #fff;
}

.theme-deep-purple .nav > li > a {
  color: #fff;
}

.theme-deep-purple .nav > li > a:hover {
  background-color: transparent;
}

.theme-deep-purple .nav > li > a:focus {
  background-color: transparent;
}

.theme-deep-purple .nav .open > a {
  background-color: transparent;
}

.theme-deep-purple .nav .open > a:hover {
  background-color: transparent;
}

.theme-deep-purple .nav .open > a:focus {
  background-color: transparent;
}

.theme-deep-purple .bars {
  color: #fff;
}

.theme-deep-purple .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-deep-purple .sidebar .menu .list li.active >:first-child i, .theme-deep-purple .sidebar .menu .list li.active >:first-child span {
  color: #8b58ff;
}

.theme-deep-purple .sidebar .menu .list .toggled {
  background-color: #f6f6f6;
  border-left: 3px solid #8b58ff;
}

.theme-deep-purple .sidebar .menu .list .ml-menu {
  background-color: #f6f6f6;
  border-left: 3px solid #8b58ff;
}

.theme-deep-purple .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #8b58ff;
  transition: all 150ms linear;
}

.theme-deep-purple .card .header::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #8b58ff;
  transition: width .5s;
  position: relative;
  top: 11px;
}

.theme-deep-purple .card:hover .header::after {
  width: 100%;
  transition: width .5s;
}

/* theme-blue ===================================*/
.theme-blue .navbar,
.theme-blue .blog-page .single-blog-post .img-holder .date-box,
.theme-blue .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-blue .menu > ul > li > ul.normal-sub > li a:hover,
.theme-blue .menu > ul > li > ul > li > ul > li a:hover {
  background-color: #2196F3;
}

.theme-blue .navbar-brand {
  color: #fff;
}

.theme-blue .navbar-brand:hover {
  color: #fff;
}

.theme-blue .navbar-brand:active {
  color: #fff;
}

.theme-blue .navbar-brand:focus {
  color: #fff;
}

.theme-blue .nav > li > a {
  color: #fff;
}

.theme-blue .nav > li > a:hover {
  background-color: transparent;
}

.theme-blue .nav > li > a:focus {
  background-color: transparent;
}

.theme-blue .nav .open > a {
  background-color: transparent;
}

.theme-blue .nav .open > a:hover {
  background-color: transparent;
}

.theme-blue .nav .open > a:focus {
  background-color: transparent;
}

.theme-blue .bars {
  color: #fff;
}

.theme-blue .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-blue .sidebar .menu .list li.active >:first-child i, .theme-blue .sidebar .menu .list li.active >:first-child span {
  color: #2196F3;
}

.theme-blue .sidebar .menu .list .toggled {
  background-color: #f6f6f6;
  border-left: 3px solid #2196F3;
}

.theme-blue .sidebar .menu .list .ml-menu {
  background-color: #f6f6f6;
  border-left: 3px solid #2196F3;
}

.theme-blue .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #2196F3;
  transition: all 150ms linear;
}

.theme-blue .card .header::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #2196F3;
  transition: width .5s;
  position: relative;
  top: 11px;
}

.theme-blue .card:hover .header::after {
  width: 100%;
  transition: width .5s;
}


/* theme-cyan ===================================*/
.theme-cyan .navbar,
.theme-cyan .blog-page .single-blog-post .img-holder .date-box,
.theme-cyan .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-cyan .menu > ul > li > ul.normal-sub > li a:hover,
.theme-cyan .menu > ul > li > ul > li > ul > li a:hover {
  background-color: #00BCD4;
}

.theme-cyan .navbar-brand {
  color: #fff;
}

.theme-cyan .navbar-brand:hover {
  color: #fff;
}

.theme-cyan .navbar-brand:active {
  color: #fff;
}

.theme-cyan .navbar-brand:focus {
  color: #fff;
}

.theme-cyan .nav > li > a {
  color: #fff;
}

.theme-cyan .nav > li > a:hover {
  background-color: transparent;
}

.theme-cyan .nav > li > a:focus {
  background-color: transparent;
}

.theme-cyan .nav .open > a {
  background-color: transparent;
}

.theme-cyan .nav .open > a:hover {
  background-color: transparent;
}

.theme-cyan .nav .open > a:focus {
  background-color: transparent;
}

.theme-cyan .bars {
  color: #fff;
}

.theme-cyan .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-cyan .sidebar .menu .list li.active >:first-child i, .theme-cyan .sidebar .menu .list li.active >:first-child span {
  color: #00BCD4;
}

.theme-cyan .sidebar .menu .list .toggled {
  background-color: #f6f6f6;
  border-left: 3px solid #00bcd4;
}

.theme-cyan .sidebar .menu .list .ml-menu {
  background-color: #f6f6f6;
  border-left: 3px solid #00bcd4;
}

.theme-cyan .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #00bcd4;
  transition: all 150ms linear;
}

.theme-cyan .card .header::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #00BCD4;
  transition: width .5s;
  position: relative;
  top: 11px;
}

.theme-cyan .card:hover .header::after {
  width: 100%;
  transition: width .5s;
}

/* theme-blue-grey ===================================*/
.theme-blue-grey .navbar,
.theme-blue-grey .blog-page .single-blog-post .img-holder .date-box,
.theme-blue-grey .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-blue-grey .menu > ul > li > ul.normal-sub > li a:hover,
.theme-blue-grey .menu > ul > li > ul > li > ul > li a:hover {
  background-color: #607D8B;
}

.theme-blue-grey .navbar-brand {
  color: #fff;
}

.theme-blue-grey .navbar-brand:hover {
  color: #fff;
}

.theme-blue-grey .navbar-brand:active {
  color: #fff;
}

.theme-blue-grey .navbar-brand:focus {
  color: #fff;
}

.theme-blue-grey .nav > li > a {
  color: #fff;
}

.theme-blue-grey .nav > li > a:hover {
  background-color: transparent;
}

.theme-blue-grey .nav > li > a:focus {
  background-color: transparent;
}

.theme-blue-grey .nav .open > a {
  background-color: transparent;
}

.theme-blue-grey .nav .open > a:hover {
  background-color: transparent;
}

.theme-blue-grey .nav .open > a:focus {
  background-color: transparent;
}

.theme-blue-grey .bars {
  color: #fff;
}

.theme-blue-grey .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-blue-grey .sidebar .menu .list li.active >:first-child i, .theme-blue-grey .sidebar .menu .list li.active >:first-child span {
  color: #607D8B;
}

.theme-blue-grey .sidebar .menu .list .toggled {
  background-color: #f6f6f6;
  border-left: 3px solid #607D8B;
}

.theme-blue-grey .sidebar .menu .list .ml-menu {
  background-color: #f6f6f6;
  border-left: 3px solid #607D8B;
}

.theme-blue-grey .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #607D8B;
  transition: all 150ms linear;
}

.theme-blue-grey .card .header::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #607D8B;
  transition: width .5s;
  position: relative;
  top: 11px;
}

.theme-blue-grey .card:hover .header::after {
  width: 100%;
  transition: width .5s;
}

/* theme-black ===================================*/
.theme-black .navbar,
.theme-black .blog-page .single-blog-post .img-holder .date-box,
.theme-black .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-black .menu > ul > li > ul.normal-sub > li a:hover,
.theme-black .menu > ul > li > ul > li > ul > li a:hover {
  background-color: #000;
}

.theme-black .navbar-brand {
  color: #fff;
}

.theme-black .navbar-brand:hover {
  color: #fff;
}

.theme-black .navbar-brand:active {
  color: #fff;
}

.theme-black .navbar-brand:focus {
  color: #fff;
}

.theme-black .nav > li > a {
  color: #fff;
}

.theme-black .nav > li > a:hover {
  background-color: transparent;
}

.theme-black .nav > li > a:focus {
  background-color: transparent;
}

.theme-black .nav .open > a {
  background-color: transparent;
}

.theme-black .nav .open > a:hover {
  background-color: transparent;
}

.theme-black .nav .open > a:focus {
  background-color: transparent;
}

.theme-black .bars {
  color: #fff;
}

.theme-black .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-black .sidebar .menu .list li.active >:first-child i, .theme-black .sidebar .menu .list li.active >:first-child span {
  color: #000;
}

.theme-black .sidebar .menu .list .toggled {
  background-color: #f6f6f6;
  border-left: 3px solid #000;
}

.theme-black .sidebar .menu .list .ml-menu {
  background-color: #f6f6f6;
  border-left: 3px solid #000;
}

.theme-black .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #000;
  transition: all 150ms linear;
}

.theme-black .card .header::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .5s;
  position: relative;
  top: 11px;
}

.theme-black .card:hover .header::after {
  width: 100%;
  transition: width .5s;
}

/* theme-green ===================================*/
.theme-green .navbar,
.theme-green .wizard .steps .current a,
.theme-green .dropdown-menu li a:hover,
.theme-green .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-green .fc .fc-toolbar,
.theme-green .blog-page .single-blog-post .img-holder .date-box,
.theme-green .menu > ul > li > ul.normal-sub > li a:hover,
.theme-green .menu > ul > li > ul > li > ul > li a:hover {
  background: linear-gradient(45deg, #4CAF50, #55ce5a);
}

.theme-green .navbar-brand {
  color: #fff;
}

.theme-green .navbar-brand:hover {
  color: #fff;
}

.theme-green .navbar-brand:active {
  color: #fff;
}

.theme-green .navbar-brand:focus {
  color: #fff;
}

.theme-green .nav > li > a {
  color: #fff;
}

.theme-green .nav > li > a:hover {
  background-color: transparent;
}

.theme-green .nav > li > a:focus {
  background-color: transparent;
}

.theme-green .nav .open > a {
  background-color: transparent;
}

.theme-green .nav .open > a:hover {
  background-color: transparent;
}

.theme-green .nav .open > a:focus {
  background-color: transparent;
}

.theme-green .bars {
  color: #fff;
}

.theme-green .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-green .sidebar .menu .list li.active >:first-child i, .theme-green .sidebar .menu .list li.active >:first-child span {
  color: #4CAF50;
}

.theme-green .sidebar .menu .list .toggled {
  background-color: #f6f6f6;
  border-left: 3px solid #4CAF50;
}

.theme-green .sidebar .menu .list .ml-menu {
  background-color: #f6f6f6;
  border-left: 3px solid #4CAF50;
}

.theme-green .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #4CAF50;
  transition: all 150ms linear;
}

.theme-green .card .header::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #55ce5a;
  transition: width .5s;
  position: relative;
  top: 11px;
}

.theme-green .card:hover .header::after {
  width: 100%;
  transition: width .5s;
}


/* theme-orange ===================================*/
.theme-orange .navbar,
.theme-orange .wizard .steps .current a,
.theme-orange .dropdown-menu li a:hover,
.theme-orange .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-orange .fc .fc-toolbar,
.theme-orange .blog-page .single-blog-post .img-holder .date-box,
.theme-orange .menu > ul > li > ul.normal-sub > li a:hover,
.theme-orange .menu > ul > li > ul > li > ul > li a:hover {
  background: linear-gradient(45deg, #FF9800, #ffa827);
}

.theme-orange .navbar-brand {
  color: #fff;
}

.theme-orange .navbar-brand:hover {
  color: #fff;
}

.theme-orange .navbar-brand:active {
  color: #fff;
}

.theme-orange .navbar-brand:focus {
  color: #fff;
}

.theme-orange .nav > li > a {
  color: #fff;
}

.theme-orange .nav > li > a:hover {
  background-color: transparent;
}

.theme-orange .nav > li > a:focus {
  background-color: transparent;
}

.theme-orange .nav .open > a {
  background-color: transparent;
}

.theme-orange .nav .open > a:hover {
  background-color: transparent;
}

.theme-orange .nav .open > a:focus {
  background-color: transparent;
}

.theme-orange .bars {
  color: #fff;
}

.theme-orange .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-orange .sidebar .menu .list li.active >:first-child i, .theme-orange .sidebar .menu .list li.active >:first-child span {
  color: #FF9800;
}

.theme-orange .sidebar .menu .list .toggled {
  background-color: #f6f6f6;
  border-left: 3px solid #ffa827;
}

.theme-orange .sidebar .menu .list .ml-menu {
  background-color: #f6f6f6;
  border-left: 3px solid #ffa827;
}

.theme-orange .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #ffa827;
  transition: all 150ms linear;
}

.theme-orange .card .header::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #ffa827;
  transition: width .5s;
  position: relative;
  top: 11px;
}

.theme-orange .card:hover .header::after {
  width: 100%;
  transition: width .5s;
}


/* theme-blush ===================================*/
.theme-blush .navbar,
.theme-blush .wizard .steps .current a,
.theme-blush .dropdown-menu li a:hover,
.theme-blush .profile-page .profile-sub-header .box-list ul li a:hover,
.theme-blush .fc .fc-toolbar,
.theme-blush .blog-page .single-blog-post .img-holder .date-box,
.theme-blush .menu > ul > li > ul.normal-sub > li a:hover,
.theme-blush .menu > ul > li > ul > li > ul > li a:hover {
  background: linear-gradient(45deg, #dd5e89, #f7bb97);
}

.theme-blush .navbar-brand {
  color: #fff;
}

.theme-blush .navbar-brand:hover {
  color: #fff;
}

.theme-blush .navbar-brand:active {
  color: #fff;
}

.theme-blush .navbar-brand:focus {
  color: #fff;
}

.theme-blush .nav > li > a {
  color: #fff;
}

.theme-blush .nav > li > a:hover {
  background-color: transparent;
}

.theme-blush .nav > li > a:focus {
  background-color: transparent;
}

.theme-blush .nav .open > a {
  background-color: transparent;
}

.theme-blush .nav .open > a:hover {
  background-color: transparent;
}

.theme-blush .nav .open > a:focus {
  background-color: transparent;
}

.theme-blush .bars {
  color: #fff;
}

.theme-blush .sidebar .menu .list li.active {
  background-color: transparent;
}

.theme-blush .sidebar .menu .list li.active >:first-child i, .theme-blush .sidebar .menu .list li.active >:first-child span, .theme-blush .morphsearch .dummy-column h2 {
  color: #dd5e89;
}

.theme-blush .sidebar .menu .list .toggled {
  background: #f6f6f6;
  border-left: 3px solid #dd5e89;
}

.theme-blush .sidebar .menu .list .ml-menu {
  background: #f6f6f6;
  border-left: 3px solid #dd5e89;
}

.theme-blush .nav-tabs>li>a:before, .theme-blush .input-group .form-line:after {
  border-bottom: 2px solid #dd5e89;
}

.theme-blush .inbox-widget .inbox-inner:hover .inbox-img img {
  border: 2px solid #dd5e89;
  transition: all 150ms linear;
}

.theme-blush .card .header::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #f7bb97;
  transition: width .5s;
  position: relative;
  top: 11px;
}

.theme-blush .card:hover .header::after {
  width: 100%;
  transition: width .5s;
}