/*
  Flaticon icon font: Flaticon
  Creation date: 22/06/2016 15:00
  */

@font-face {
    font-family: "Flaticon";
    src: url("../../../public/fonts/icon/Flaticon.eot");
    src: url("../../../public/fonts/icon/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../../../public/fonts/icon/Flaticon.woff") format("woff"),
    url("../../../public/fonts/icon/Flaticon.ttf") format("truetype"),
    url("../../../public/fonts/icon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../../../public/fonts/icon/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 30px;
    font-style: normal;
}

.flaticon-toaster:before { content: "\f100"; }
.flaticon-washing-machine:before { content: "\f101"; }
.flaticon-coffee-maker:before { content: "\f102"; }
.flaticon-dishwasher:before { content: "\f103"; }
.flaticon-iron:before { content: "\f104"; }
.flaticon-music-player:before { content: "\f105"; }
.flaticon-oven:before { content: "\f106"; }
.flaticon-telephone:before { content: "\f107"; }
.flaticon-television:before { content: "\f108"; }
.flaticon-fridge:before { content: "\f109"; }
.flaticon-air-conditioning:before { content: "\f10a"; }
.flaticon-hairdryer:before { content: "\f10b"; }
.flaticon-fan:before { content: "\f10c"; }
.flaticon-refrigerator:before { content: "\f10d"; }
.flaticon-microwave-oven:before { content: "\f10e"; }
.flaticon-stove:before { content: "\f10f"; }