.content {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: 1px solid rgba(224, 223, 219, 0.89);
    min-height: 600px;
}
.menu-container, .label-container, .form-container {
    padding: 0 !important;
}
#admin-container>.navbar, #glamping-owner-container>.navbar {
    margin-bottom: 0;
}
.menu_li {
    border-bottom: 1px solid rgba(234, 233, 229, 0.89);
    padding-left: 30px;
}

/*glamping-owner*/
#glamping-owner-container  {
    background-color: rgb(16, 70, 68);
}
#glamping-owner-container h4.page-header,  .public-page-container .filter-block h4.page-header{
    margin-bottom: 5px;
}
.glamping-image-input {
    margin-bottom: 74px;
    opacity: 0;
    position: absolute;
}
.glamping-image img, .glamping-image {
    margin-bottom: 5px;
    height: 100px;
}

.glamping-image-label {
    margin-bottom: 15px;
}

.glamping-image-label input {
    opacity: 0;
    position:absolute;
}

.current-image-label {
    opacity: 0.4;
}

.glamping-image-label img{
    cursor: pointer;
    height: 100px;
}

.current-image-label img{
    cursor: pointer;
    height: 100px;
}

#add_attr {
    cursor: pointer;
    height: 30px;
}
.delete_img {
    cursor: pointer;
    font-size: 30px;
    color: #be1820;
    position: relative;
    bottom: 43px;
}
.reestablish_img {
    cursor: pointer;
    font-size: 20px;
    color: #29be0d;
    position: relative;
    bottom: 43px;
}
h4.page-header {
    margin-top: 20px;
}

/*admin menu styles*/
#admin-container {
    background-color: #0c0b38;
}

/*icons an images styles*/
.icon {
    height: 30px !important;
    width: 30px !important;
}
.icon-border {
    border: 1px solid rgb(240, 199, 23);
}
.icon-container, .icon-td {
    text-align: center;
    width: 50px;
}
.icon-container {
    height: 50px;
    display: inline-table;
    margin: 5px 10px 5px 0;
}
.font-icons {
    margin-bottom: 10px;
}
#mainImg {
     height: 150px;
     border: 3px solid rgb(17, 153, 25);
 }
.preview-container {
      margin: 10px;
}

/*grid styles*/
.action-btn a{
    max-width: 115px; !important;
    margin: 0 auto;
}
.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

/*public glamping page styles*/
.glamping-image-block {
    margin-top: 50px;
}
.glamping-image-block img {
    height: 100px;
}
.glamping-capacity-man-img {
    width: 15px;
}
.glamping-name {
 margin-bottom: 5px;
}
.price-num {
    font-weight: bold;
}
.buildings-count {
    width: 50px;
}
.dates-block input {
    margin-right: 40px;
}
.close-button {
    width: 20px;
    cursor: pointer;
}

/*applications archive grid*/
.rejected-status {
    position: relative;
    text-decoration: underline;
}
.rejected-status:hover {
    cursor: default;
}
.rejected-message {
    margin-left:-100px;
    padding:10px;
    position:absolute;
    right:35px;
    top: 20px;
    z-index:9999;
    width:200px;
    border-radius: 5px;
    display:none;
    text-align: justify;
}
.rejected-status:hover .rejected-message {
    display:inline-block;
}
.reviewer-btn {
    height: 140px;
    margin-top: 20px;
    position: relative;
}
.reviewer-btn-success {
    position: absolute;
    top:102px;
}
.reviewer-btn div.col-xs-3 {
    margin-right: 20px;
}
.right-block {
    padding-left: 0 !important;
}
.addData {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(224, 223, 219, 0.89);
}
.first-addData {
    margin-top: 30px;
}

/*tabs*/
.en-tab, .ru-tab {
    width: 150px; !important;
    font-size: 18px;
    height: 40px;
    padding: 5px;
    border-top-right-radius: 5px;
    display: inline-table;
    cursor: pointer;
}
.en-block, .ru-block {
    padding-bottom: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
}
.glamping {
    padding: 10px 50px 40px 50px;
}
.latLangBlock {
    margin-bottom: 20px;
    margin-top: 10px;
}
#map {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

/*booking*/
.inactive-block {
    opacity: 0.4;
}
.active-block {
    opacity: 1;
}

/*user block*/
.user_book_edit {
    width: 15px;
    cursor: pointer;
}
/*public pages*/
.public-page-container {
    border-bottom: 1px solid #d3e0e9;
    border-right: 1px solid #d3e0e9;
    border-left: 1px solid #d3e0e9;
}
.public-page-container .glamping-block {
    background-color: #fff;
    border-top: 1px solid #d3e0e9;
    padding-bottom: 20px;
    border-left: 1px solid #d3e0e9;
}
.public-page-container .glamping-block .glamping-image {
    height: 150px;
    margin: 5px;
}
.public-page-container .glamping-block .min-glamping-price {
    font-size: 25px;
}
.public-page-container .filter-block {
    background-color: #d3e0e9;
}
.public-page-container .ajax-loader {
    opacity: 0.3;
}
.social-image {
    width: 40px;
}

.buildings-busyness-list {
    height: 35px!important;
    padding: 6px 15px!important;
    cursor: pointer;
}

.fc-event {
    cursor: pointer;
}
.fc-event:hover {
    font-weight: bold!important;
}

.fc-content {
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.slick-column-name {
    color: black;
}

.slick-header-column {
    height: 40px!important;
}

.calendar-count-row {
    background-color: #71caea;
    color: white;
    border-color: white;
}

.calendar-price-row {
    background-color: #2bb2e4;
    color: white;
    border-color: white;
}

.slick-row .selected {
    background-color: #dd5e89!important;
}
