.btn-hover-green:hover {
	background: #28b157;
	transition: .7s;
	box-shadow: 1px 2px 0px 0px #2a9b50;
}

.subscribe-btn:hover, .btn-find:hover {
	cursor: pointer;
}
li.dropdown-open:hover {
	ul.dropdown {
		display: block;
		top: 35px;
		transition: 2s;
	}
	ul.dropdown:hover {
		display: block;
	}
}

/* animations for input */
.input-animation {
	display: flex;
	height: inherit;
	justify-content: center;
	padding: 0 26px;
	input {
		border: 0;
		width: 100%;
	}
	input:focus,
	select:focus {
		border-top: 2px solid #ffb526;
		border-bottom: 2px solid #ffb526;
	}
}
