/* button in the block "header-top", "Войти", "Регистрация" */
.auth-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	float: left;
	height: 36px;
	background: #25356d;
	margin: 7px 5px 0 0;
	padding: 0 18px;
	font-family: $ff-proxima;
	color:  #ffffff;
	font-size: $font-size-low;
	font-weight: 700;
	border-radius: $border-r5;
	text-decoration: none;
}

/* button in the block header */
.btn-find {
	position: relative;
	padding: 15px 57px 15px 28px;
	background-color: $green;
	@extend .h3;
	color: #fff;
	border: none;
	border-radius: $border-r5;
	&:after {
		@include pseudo(url('images/loupe.png') no-repeat, auto, 28px)
		width: 26px;
		height: 26px;
	}
}

/* button without bg */
.btn-text {
	@include buttons-text(21px, $main-purple, 0, 600);
}

/* buttons with a purple background */
.btn-purple {
	display:inline-block;
	background: #25356d;
	margin: 7px 5px 0 0;
	padding: 15px 22px;
	font-family: $ff-proxima;
	color:  #ffffff;
	font-size: $font-size-low;
	border-radius: $border-r5;
	text-decoration: none;
	transition: .7s;
}

/* buttons with a green background and briefcase 
(only for <button>!) 
if you create <a> element and you need this styles, use @extend .btn-booking and change margin for pseudo-element
*/
.btn-booking {
	display: inline-block;
	background: #2a9b50;
	padding: 15px 62px 15px 34px;
	@include hN(21px, 600);
	color: #ffffff;
	border-radius: $border-r5;
	cursor: pointer;
	&:after {
		@include pseudo(url('images/briefcase.png') no-repeat);
		width: 19px;
		height: 17px;
		margin-top: 3px;
    margin-left: 16px;
	}
}

/* button for booking parameters */
.btn-parameters {
	display:inline-block;
	background: #25356d;
	padding: 14px 26px;
	font-family: $ff-proxima;
	color:  #ffffff;
	font-size: $font-size-low;
	border-radius: $border-r5;
	text-decoration: none;
	transition: .7s;
}


/* TODO: add pseudo-elements for buttons */