/* main mixin for create class for text of the site. Default for the tag <p> */
@mixin main-text {
	font: {
		family: $ff-proxima;
		size: $font-size-base;
		weight: 400;
	}
	line-height: $line-height;
	color: $font-color-main;
}
/* same "main-text", but size of font 13px */
@mixin main-text-low {
	font: {
		family: $ff-proxima;
		size: $font-size-low;
		weight: 400;
	}
	line-height: $line-height;
	color: $font-color-main;
}
/* Миксин для создание дополнительных вариаций текста. Работает только со всеми аргументами */
@mixin another-text($font-size: $font-size-base, $line-height: $line-height, $font-color: $font-color-main) {
	font: {
		family: $ff-proxima;
		size: $font-size;
		weight: 400;
	}
	line-height: $line-height;
	color: $font-color;
}
/* Миксин для создания заголовков */
@mixin hN($font-size: $font-size-base, $weight: 400) {
	font: {
		family: $ff-proxima;
		size: $font-size;
		weight: $weight;
	}
	color: $font-color-main;
}
/* Миксин передачи стилей для цвета текста placeholder(поддрежка всех браузеров) */
@mixin placeholder($color: $main-color) {
	&::-webkit-input-placeholder {color: $color;}/* Chrome and Safari */
	&::-moz-placeholder          {color: $color;}/* Firefox 19+ */
	&:-moz-placeholder           {color: $color;}/* Firefox 18- */
	&:-ms-input-placeholder      {color: $color;}
}
/* mixin animation placeholder input elements*/
@mixin placeholder-anim {
&::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.5s ease;}
&::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.5s ease;}
&:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.5s ease;}
&:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.5s ease;}
&:focus::-webkit-input-placeholder {text-indent: -500px; transition: text-indent 0.5s ease;}
&:focus::-moz-placeholder          {text-indent: -500px; transition: text-indent 0.5s ease;}
&:focus:-moz-placeholder           {text-indent: -500px; transition: text-indent 0.5s ease;}
&:focus:-ms-input-placeholder      {text-indent: -500px; transition: text-indent 0.5s ease;}
}

/* Миксин для создания cсылок, на странице встречаются разных размеров, но общего вида. Данный миксин по стандарту стоит для тэга <a> */
@mixin link($font-size: $font-size-base, $line-height:$line-height, $font-color: $main-purple) {
	font: {
		family: $ff-proxima;
		size: $font-size;
		weight: 400;
	}
	line-height: $line-height;
	color: $font-color;
	text-decoration: none;
	border-bottom: 1px dashed $font-color;
}
@mixin remove-link($font-size: $font-size-base, $line-height:$line-height, $font-color: $font-color-main) {
	font: {
		family: $ff-proxima;
		size: $font-size;
		weight: 400;
	}
	line-height: $line-height;
	color: $font-color;
	text-decoration: none;
	border: none;
}

/* 
mixin for positioning pseudo-elements (after) 
$url - required parameter. 
Example - $url: url('images/img.png') no-repeat;
*/
@mixin pseudo($url, $top: auto, $right: auto) {
	content: ' ';
	position: absolute;
	top: $top;
	right: $right;
	background: $url;
}

/* create btn-text */ 
@mixin buttons-text($font-size: $font-size-base, $color: $main-color, $padding: 10px, $weight: 400) {
	font: {
		size: $font-size;
		weight: $weight;
	}
	padding: $padding;
	color: $color;
	background: none;
	cursor: pointer;
}