p {
	@include main-text;
}

a {
	@include link;
	cursor: pointer;
}

/* class to add  an arrow to the right (color: grey)*/
.link-arrow {
	position: relative;
}
.link-arrow:after {
	@include pseudo(url('images/arrow-grey.png') no-repeat, 7px, -12px);
	width: 6px;
	height: 5px;

}
/* 
class to add an arrow to the right in element input (color: blue)
use only for the element in which the input
*/
.input-arrow {
	position: relative;
}
.input-arrow:after {
	@include pseudo(url('images/arrow-blue.png') no-repeat, auto, 30px);
	width: 6px;
	height: 5px;
}
input, select, button {
  border: none;
}
input:focus {
  border: none;
  outline: none;
}
button {
	border: none;
}

/* reset all style from <a>*/
a.default-link {
	@include remove-link;
}
.text-center {
	text-align: center;
}
.transparency {
	background: hsla(0, 0%, 0%, 0.15);
}

/* class for create dropdown menu 
   works only with <ul>
*/
ul.dropdown {
	position: absolute;
	top: 0px;
	display: none;
	width: 150px;
	background: #fff;
	transition: .7s;
} 
/* class for the element <li> in the ul.dropdown*/
li.drop-elem {
	display: block;
	width: 100%;
	border: none;
}

.h1 {
	@include hN(42px, 700)
}
.h2 {
	@include hN(28px, 600)
}
.h3 {
	@include hN(21px, 600)
}
.h4 {
	@include hN(19px, 400)
}


/* TODO: добавить остальные заголовки, если они будут */

/* indent - padding for h3 element's */
.indent {
	padding: 14px 0 23px 0;
}

.under {
	margin: 0 0 45px;
}

/* gradient for btn-purple */
.gradient {
	background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
	background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
	background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
	background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
	box-shadow: 1px 2px 0px 0px #1a2755;
}