// Color
$dark-green: #217c40;
$green: #28af56;
$light-green: #0eb351;
$main-purple: #25356d;


// Typography
$ff-open-sans: 'Open Sans', sans-serif;
$ff-proxima: 'ProximaNova', sans-serif;

$font-size-base: 15px;
$font-size-low: 13px;
$font-color-main: #3b3a3a;
$line-height: 16px;

//borders
$border: 1px solid #e6e6e6;
$border-white: 1px solid #fff;
$border-gray: 1px solid #dadada;
$border-r5: 5px;

// Navbar


// Buttons


// Inputs


// Panels


/* TODO: delete this variables, after fix style's for auth pages*/
$line-height-computed: $line-height;


