@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');
@font-face {
  font-family: ProximaNova;
  src:url('../fonts/proxima_nova_regular.otf');
}


@import "variables";
@import "mixins";
@import "typography";
@import "buttons";
@import "grid";
@import "animations";
@import "modules";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "homepage";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%
}
