@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

.navbar.navbar-default {
	.navbar-brand {
		border: none;
	}
}
.navbar-collapse {
	ul.navbar-nav {
		display: flex;
    align-items: center;
    padding: 0 20px;
		li {
			list-style: none;
			padding: 0 10px;
			a {
				border: none;
			}
		}
	}
}