@import "app";

.wrapper-border-solid {
	max-width: 1400px;
	margin: 0 auto;
	border: $border;
}
.path-to-page {
	margin: 22px auto 0 auto;
	max-width: 1400px;
	.path a {
		@include another-text(13px, 14px, #acacac);
	}
	.path img {
		margin: 2px 5px 0 5px;
	}
}
.page {
	margin: 60px 0 0 0;
	.name-place {
		h1 {
			@include hN(42px, 600);
		}
	}
	.ranked-name {
		@include another-text(13px, 14px, #acacac);
		padding: 15px 0 0 0;
	}


	.price-glamp {
		padding: 30px 50px;
		margin: 0 0 40px 0;
		background: #d4ebdc;
		border-radius: $border-r5;
		display: flex;
		flex-direction: column;
		align-items: left;
		h3.h3 {
			font-weight: 400;
			margin: 0 0 12px 0;
			span.bold {
				@include hN(36px, 600);
			}
		}
		p {
			@include main-text-low;
			margin: 20px 0 0 0;
		}
	}
	.can-find {
		margin: 0 0 26px 0;
		.wrapper-border-bottom {
			padding-bottom: 26px;
			border-bottom: $border;
		}
		h3.h3 {
			margin: 0 0 20px 0;
		}
		ul.find-list {
			margin: 0 0 23px 0;
			li {
				margin: 0 0 7px 0;
				list-style: none;
				@include main-text;
			}
			li:before {
				content: '-   '
			}
		}
		img, a { 
 			display: inline-block;
		}
		a {
			margin-top: -10px;
		}
	}
	.social {
		display: flex;
		border: $border;
		padding: 20px 25px;
		.header-social {
			font-weight: 700;
			margin: 0 20px 0 0;
		}
		img {
			margin: 0 8px 0 0;
		}
	}
	.carousel {
    height: 567px;
	}
	.dignity {
		margin: 0 0 45px 0;
		padding: 0 0 40px 0;
		border-bottom: $border;
		.dignity-elem {
			display: block;
			text-align: center;			
			p {
				width: 100%;
			}
			img {
				margin: 0 0 10px 0;
			}
		}
	}
	.description-glamp {
		h3.h3 {
			margin: 0 0 36px 0;
		}
		p.desc {
			margin: 0 0 30px 0;
			line-height: 21px;
			color: #565656;
		}
		.impression {
			display: flex;
			align-items: center;
			padding: 0 0 50px 0;
			margin: 0 0 64px 0;
			border-bottom: $border;
			p {
				@include another-text(18px, 18px, $main-purple);
				margin: 0 20px 0 20px;
			}
			.impression-tag {
				margin: 0 13px 0 0;
				padding: 7px 17px;
				background: $green;
				border-top-right-radius: $border-r5;
				border-bottom-left-radius: $border-r5;
				@include another-text(13px, 13px, #fff);
			}
		}
	}
	.parameters	{
		height: 60px;
		margin: 0 0 30px 0;
		border-top: $border;
		border-bottom: $border;
		form.form-parameters {
			display: flex;
			.wrapper-parameter {
				display: flex;
				align-items: center;
				height: 58px;
				padding: 0px 10px;
				border-right: $border;
				img {
					margin: 0 12px 0 26px;
				}
				p {
					white-space: nowrap;
				}
				input {
					width: 68px;
				}
			}
			.wrapper-parameter:nth-child(1) {
				padding: 0 32px 0 0;
				img {
					margin: 0 12px 0 0;
				}
			}
			.wrapper-parameter:nth-last-child(1) {
				padding: 0;
				margin-left: auto;
				border-right: none;
			}
		}
	}
	.select-place {
		width: 100%;
		border-collapse: collapse;
		thead {
			background: #d4ebdc;
			th {
				padding: 27px 0 23px 19px;
				text-align: left;
				border-right: $border;
				@include main-text;
			}
		}
		tbody {
			margin: 8px 0 0 0;
			td {
				padding: 27px 33px;
				vertical-align: top;
			}
			td.description-place {
				h3.h3 {
					margin: 0 0 22px 0;
				}
			}
			.description-text {
				margin: 0 0 22px 0;
			}
			ul {
				margin: 0 0 32px 0;
				li.header-list {
					margin: 0 0 15px 0;
				}
				li {
					@include another-text(15px, 27px, #6eab54);
					list-style: none;
				}
			}
			.price {
				color:  #6eab54;
			}
			.attention {
				@include main-text-low;
				color: $main-purple;
				margin: 14px 0 22px 0;
			}
			.btn-booking {
				margin: 0 0 19px 0;
			}
			.low-text {
				@include main-text-low;
			}
		}
	}
}