.header {
	height: 100vh;
	border-bottom: $border;
	.wrapper-border {
		border-bottom: $border;
	}
	.header-menu-bottom {
		height: 65px;
		.col-md-6 {
			height: 63px;
			border-bottom: $border-gray;
			border-right: $border;
			.popular-place {
				height: inherit;
				display: flex;
				align-items: center;
				.head-tags {
					@include hN(18px);
					color: $light-green;
			    white-space: nowrap;
				}
				.tags {
					height: 100%;
					display: flex;
					align-items: center;
					text-align: right;
					.wrapper-tag {
						@include another-text(14px, 15px, $font-color-main);
						margin: 0 0 0 20px;
						.img-tag {
							height: 16px;
							width: 16px;
							margin: 0 5px 0 0;
						}
					}
				}
				}
			}
			.search-form {
				@extend .popular-place;
				input {
					width: 100% !important;
					@include another-text(13px, 14px, $main-purple);
					@include placeholder($main-purple);
				}
				button {
					margin-left: auto;
				}
			}
		}
		.col-md-6:nth-last-child(1) {
			border-right: none;
			border-bottom: 3px solid #e6e6e6;
		}
	}
	.header-content {
		height: calc(100% - 115px);
		width: 100%;
		background-image: url('images/bg-header-content.png');
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		.h4 {
			margin: 127px 0 0 0;
		}
		.form-find {
			position: relative;
			width: 945px;
			margin: 88px 0 0 0;
			.wrapper-find-form {
				width: 100%;
				height: 70px;
				margin: 0 0 35px 0;
				background: #ffffff;;
				border-radius: $border-r5;
				.wrapper-input {
					display: flex;
					float: left;
					height: inherit;
					align-items: center;
					padding: 0 35px;
					border-right: $border;
					input {
						width: 110px;
						@include main-text-low;
						@include placeholder-anim;
					}
					label {
						margin: 0 13px 0 0;
						@include another-text(13px, $line-height, $main-purple);
					}
					.place {
						width: 200px;
					}
					&:nth-last-child(1) {
						border-right: none;
					}
				}
				.wrapper-input:nth-child(1) {
			    padding: 0 40px 0 35px;
				}
			}
			.extended-find {
				position: absolute;
				bottom: 20px;
				left: 20%;	
				color: #fff;
				border-color: #fff;
				text-shadow: 0px 0px 15px #000000;
			}
		}
		.wrapper-issue {
			position: relative;
			width: 1400px;
			margin: 0 auto;
			.issues-position {
				position: absolute;
				right: 50px;
				.issues {
					display: flex;
					align-items: center;
					p {
						@include another-text(15px, 16px, #fff);
						margin-right: -10px;
						cursor: pointer;
					}
					.question-img {
						display: flex;
						justify-content: center;
						align-items: center;
						background: url('images/circle-bg.png') no-repeat;
						background-size: contain;
						width: 100px;
						height: 100px;
						img {
							width: 12px;
							height: 16px;
							cursor: pointer;
						}
					}
				}
			}
	}
}
.header-top {
		max-width: 1400px;
		margin: 0 auto;
		height: 50px;
    display: flex;
		.logo {
			margin: 0 auto;
			height: inherit;
			padding: 10px 6px 8px 20px;
		}
		.menu {
			margin-left: 0 auto;
			height: inherit;
			ul.menu-list {
				height: 21px;
				margin-top: 13px;
				li {
					@include main-text;
					height: inherit;
					list-style: none;
					float: left;
					padding: 0 20px;
					border-right: $border;
					line-height: 21px;
				}
				li.dropdown-open {
					padding: 0 30px 0 20px;
				}
				li.green {
					padding: 0 20px 0 0;
					color: $dark-green;
					font-size: 12px;
					line-height: 13px;
				}
				img.animal-hands {
					display: block;
					float: left;
					padding: 0 5px 0 14px;
				}
			}
		}
		.auth {
			display: flex;
			margin-left: auto;
		}
		.select-money {
			display: flex;
			align-items: center;
			margin: 0 10px;
			a {
				@include main-text;
				font-weight: 700;
			}
		}
	}

.page {
	margin: 50px 0 0 0;
	.about-glamping {
		border-bottom: $border;
		padding: 0 0 30px 0;
		background: url('images/about-bg.png') no-repeat right bottom;
		.description {
			@include another-text(15px, 24px, $font-color-main);
			padding: 0 0 17px 0; 
		}
	}
	.registration-glamping {
		padding: 28px 35px;
		background: url('images/reg-glamp-bg.png') no-repeat center center;
		border-radius: $border-r5;
		background-size: 100% 100%;
		.low-text {
			@include another-text(14px, 15px,$font-color-main);
			margin: 0 0 10px 0;
		}
		h3.h3 {
			margin: 0 0 22px 0;
		}
		.any-text {
			@extend h3.h3;
		}
	}
	.last-entry-header {
		margin: 0 0 16px 0;
	}
	.last-entry {
		padding: 20px 0;
		border-bottom: $border;
		.text-entry {
			display: block;
			img[alt="date"] {
				display: inline-block;
				vertical-align: middle;
				margin: 0 7px 0 0;
			}
			.date-entry {
				display: inline-block;
				@include main-text-low;
				font-weight: 600;
			}
			.name-entry {
				display: block;
				margin: 12px 0 15px 0;
				@include main-text;
			}
			.description-entry {
				margin: 0 0 15px 0;
				@include main-text-low;
			}
		}
	}
}
.offers {
	margin: 0 0 40px 0;
	.col-md-5 {
		position: relative;
		img.offer-img {
			width: 100%;
		}
		.discount {
			display: flex;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			bottom: 30px;
			width: 90px;
			height: 60px;
			background: #ffda44;
			text-align: center;
			border-top-right-radius: $border-r5;
			border-bottom-right-radius: $border-r5;
			h3.discount-value {
				@include hN(24px, 700);
			}
			p {
				@include main-text-low;
			}
		}
	}
	.col-md-7 {
		padding: 0 0 0 40px;
		h3.h3.offer-name {
			color: $main-purple;
			margin: 14px 0 15px 0;
		}
		.price-block {
			display: flex;
			margin: 20px 0 24px 0;
			.old {
				margin: 0 20px 0 0;
				.old-price {
					@extend .h3;
					padding: 6px 0 0 0;
					color: #808080;
					text-decoration: line-through;
				}
			}
			img {
				width: 16px;
				height: 16px;
				margin: 12px 12px 0 0;
			}
		}
	}
	
}

.subscribe {
	background: $green;
	padding: 60px 0 55px 0;
	.h1-subscribe {
		@include hN(36px, 600);
		color: #ffffff;
	}
	.h3-subscribe {
		@include hN(21px, 400);
		color: #ffffff;
	}
	form.subscribe-form {
		display: flex;
		width: 100%;
		height: 60px;
		margin: 30px 0 0 0;
		border-radius: $border-r5;
		.subscribe-mail {
			width: 100%;
			padding: 0 30px 0;
			@include placeholder(#ffffff);
			@include main-text;
			color: #fff;
		}
		.subscribe-btn {
			@include another-text(15px, 16px, #ffffff);
			padding: 0 30px;
		}
	}
}

.footer {
	height: 290px;
	background: #e6e6e6;
	padding: 50px 0 33px 0;
	.footer-header {
		@include another-text;
		font-weight: 700;
		padding: 0 0 25px 0;
	}
	.link-footer {
		display: block;
		width: 100%;
		margin: 0 0 15px 0;
	}
	.copyright {
		margin: 45px 0 0 0;
	}
}